@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --title-ff: 'Rubik', sans-serif;
    --secondary-ff: 'Open Sans', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: var(--title-ff);
    margin: 0;
    padding: 0;
    
}

#dot {
    height: 9px;
    width: 9px;
    position: absolute;
    top: 11.7%;
}

#back-dot {
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: orange;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    transform: scale(4);
    cursor: pointer;

    span {
        margin: 0;
        padding: 0;
        font-size: 9px;
    }
}


#title-wrap {
    position: relative;
    width: 100vw;
    height: 200px;
    text-align: center;
    font-size: 55px; 
    line-height: 200px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 1.5s;
    

    #name {
        #name-dot {
            color: orange;
        }
    }
}



#content-wrap {
    width: 100%;
    height: calc(100% - 200px);
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    transition: opacity 1.5s;
    opacity: 0;

    ul {
        padding: 0;
        margin: 0;
        margin-top: 100px;
        text-align: center;
        height: 150px;
        width: 150px;
        
        li {
            margin-bottom: 30px;
            cursor: pointer;
            font-size: 30px;
            
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

#projects-wrap {
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s;

    .project {
        height: 500px;
        width: 350px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        margin: 0 0 50px 0;

        .screenshot {
            height: 250px;
            width: 300px;
            background-color: orange;
        }

        .info {
            height: calc(100% - 250px);
            width: 100%;      
            text-align: center;
            padding-top: 70px;

            .proj-title {
                font-size: 25px;
            }

            .proj-desc {
                font-size: 12.5px;
                font-family: var(--secondary-ff);
            }
        }
    }
    .project:nth-child(odd) {
        margin-left: 20px;
    }
    
    .project:nth-child(even) {
        float: right;
        margin-right: 20px;
    }
}

@media (min-width: 600px) {
 #projects-wrap {
    .project {
        height: 450px;
        width: max(40%, 500px);
        
        .info {
            max-width: 500px;
            .proj-title {
                line-height: 50px;
            }
        }
     }

     .screenshot {
        height: 300px;
        width: 350px;
     }
 }

}


